Description: MovieCockpit
Maintainer: dream-alpha
Package: enigma2-plugin-extensions-moviecockpit
Version: 19.2.4
Architecture: all
Depends: python-requests, enigma2-plugin-skincomponents-cockpit, enigma2-plugin-systemplugins-mountcockpit, enigma2-plugin-systemplugins-cachecockpit, enigma2-plugin-systemplugins-jobcockpit
