Description: MovieCockpit
Maintainer: dream-alpha
Package: enigma2-plugin-extensions-moviecockpit
Version: 18.0.9
Architecture: all
Depends: python-requests, enigma2-plugin-systemplugins-componentscockpit, enigma2-plugin-systemplugins-mountcockpit, enigma2-plugin-systemplugins-cachecockpit, enigma2-plugin-systemplugins-socketcockpit
